{% extends 'base.html' %}

{% block title %}
Магия
{% endblock %}

{% block body %}
<h2>Сейчас произойдет магия </h2>
<h4>Загадайте число:</h4>
<h4> Умножь его на 5 <br>
     Произведение умножь на 2 <br>
     К результату прибавь 14 <br>
     Из суммы вычти 8 <br>
     Отбрось первую слева цифру результата <br>
     Отставшееся число умножь на 7 и раздели на 2 <br>

</h4>
<form action="/game" method="GET">
     <input type="number" value="{{name}}" name="name" />
    <input type="submit" value="Проверить!">
</form>
<h4>У вас получилось:</h4>

<p>{{name}}</p>

<h5><a href="/">На главную страницу</a></h5>
{% endblock %}